<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title id="title_page">Forecasting IHK</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/siimple.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{% static 'js/function.js' %}"></script>
    <script src="{% static 'js/Chart.bundle.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
</head>
    <body>
        <div class="siimple-box">
            <div class="siimple-box-title">Simulator Forecasting IHK</div>
            <div class="siimple-box-subtitle">Using Hybrid ARIMAX - SVR Algorithm</div>
            <div class="siimple-tip siimple-tip--teal">
                --sidua--
            </div>
        </div>
        <div class="siimple-grid">
            <div class="siimple-grid-row">
                <p class="siimple-h6" id="">Untuk melakukan peramalan Indeks Harga Konsumen(IHK), Simulator ini menggunakan pemodelan ARIMAX dan ARIMAX-SVR. Simulator ini akan menampilkan tingkat error dan akurasi dari kedua model. Simulator juga akan menampilkan nilai prediksi untuk 12 bulan ke depan dengan menggunakan model yang terbaik dari kedua model sebelumnya.</p>
                <p class="siimple-p" id="">Untuk melakukan peramalan silahkan pilih data IHK dengan format file <i>.csv</i></p>
                <div class="siimple-grid-col siimple-grid-col--4">
                    <div class="fileUpload siimple-btn siimple-btn--red">
                        <span>Select File CSV...</span>
                        <input id="upload_btn" type="file" class="upload" />
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--12">
                        <span id="text_csv" class="siimple-p" style="margin-top: -15px;">No File Selected.</span>
                    </div>
                </div>
            </div>
            
            <div class="siimple-btn siimple-btn--navy" id="btn_plot_original">Pre Processing Data</div>
            <div class="siimple-spinner siimple-spinner--navy" style="margin-top: -16px; margin-left: 200px" id="loading_pre_processing"></div>
            
            <br><br><br>
            <div class="siimple-grid-row">
                <div class="siimple-h6">
                    <u>ORIGINAL DATA</u>
                </div>
                
                <div class="siimple-grid-col siimple-grid-col--12">
                    <div style="width:75%;">
                        <canvas id="canvas_original"></canvas>
                        <p class="siimple-p" id="desc_original"></p>
                    </div>
                </div>
                <br>
                <div class="siimple-h6">
                    <u>TREND AND SEASONAL DATA</u>
                </div>
                <div class="siimple-grid-row">                    
                    <div class="siimple-grid-col siimple-grid-col--12">
                        <div style="width:75%;">
                            <canvas id="canvas_trend"></canvas>
                            <p class="siimple-p" id="desc_trend"></p>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--12">
                        <div style="width:75%;">
                            <canvas id="canvas_seasonal"></canvas>
                            <p class="siimple-p" id="desc_seasonal"></p>
                        </div>
                    </div>
                </div>
                
                <div class="siimple-h6">
                    <u>STATIONARITY DATA</u>
                </div>
                <div class="siimple-grid-col siimple-grid-col--12">
                    <div style="width:75%;">
                        <canvas id="canvas_stationary"></canvas>
                        <p class="siimple-p" id="desc_stasioner"></p>
                    </div>
                </div>
                <br>
                <div class="siimple-h6">
                    <u>GRAPHIC ACF AND PACF</u>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--6">
                        <div style="width:100%;">
                            <canvas id="canvas_acf"></canvas>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--6">
                        <div style="width:100%;">
                            <canvas id="canvas_pacf"></canvas>
                        </div>
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--12">
                        <div style="width:75%;">
                            <p class="siimple-p" id="desc_acf_pacf"></p>
                        </div>
                    </div>
                </div>
                
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--2">
                        <label class="siimple-label">Enter ACF Lag (MA)</label><br>
                        <input type="text" class="siimple-input" placeholder="ACF Lag" id="input_AR">
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--2">
                        <label class="siimple-label">Diffrencinge (I)</label><br>
                        <input type="text" class="siimple-input" id="input_I" disabled="true">
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--2">
                        <label class="siimple-label">Enter PACF Lag (AR)</label><br>
                        <input type="text" class="siimple-input" placeholder="PACF Lag" id="input_MA">
                    </div>
                </div>
                <div class="siimple-grid-col siimple-grid-col--4">
                    <br><div class="siimple-btn siimple-btn--navy" id="btn_modeling">Modeling Simulator Forecasting</div>
                    <div class="siimple-spinner siimple-spinner--navy" style="margin-top: -16px; margin-left: 300px;" id="loading_modeling"></div>
                </div>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--12"><br>
                        <div class="siimple-h5" style="text-align: center;">
                            SINGLE ARIMAX MODEL
                        </div>                        
                        <div style="width:75%;">
                            <p class="siimple-p" id="desc_arima_1"></p>
                            <p class="siimple-p" id="desc_arima_2"></p>
                        </div>
                        <div class="siimple-grid-row">
                            <div class="siimple-grid-col siimple-grid-col--9">
                                <canvas id="canvas_predict_arimax_70_30"></canvas>
                                <canvas id="canvas_predict_arimax_80_20"></canvas>
                                <canvas id="canvas_predict_arimax_90_10"></canvas>
                            </div>
                        </div>
                        
                    </div>
                    <div class="siimple-grid-col siimple-grid-col--12"><br>
                        <div class="siimple-h5" style="text-align: center;">
                            HYBRID ARIMAX - SVR MODEL
                        </div>
                        <div style="width:75%;">
                            <p class="siimple-p" id="desc_hybrid_1"></p>
                            <p class="siimple-p" id="desc_hybrid_2"></p>                            
                        </div>
                        <div class="siimple-grid-row">
                            <div class="siimple-grid-col siimple-grid-col--9">
                                <canvas id="canvas_predict_hybrid_70_30"></canvas>
                                <canvas id="canvas_predict_hybrid_80_20"></canvas>
                                <canvas id="canvas_predict_hybrid_90_10"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="siimple-grid-row">
                    <div class="siimple-grid-col siimple-grid-col--10">
                        <div class="siimple-h6" style="text-align: center;">
                            Tabel RMSE(error rate) dan Akurasi Model pada Single ARIMAX dan Hybrid ARIMAX-SVR
                        </div>
                        <table class="siimple-table siimple-table--striped siimple-table--border">
                            <thead class="siimple-table-header">
                                <th ></th>
                                <th class="siimple-table-cell" colspan="2">RMSE <i>(Error Rate)</i></th>
                                <th class="siimple-table-cell" colspan="2">Akurasi</th>
                            </thead>
                            <thead class="siimple-table-header">
                                <th></th>
                                <th class="siimple-table-cell">Single Model ARIMAX</th>
                                <th class="siimple-table-cell">Hybrid Model ARIMAX - SVR</th>
                                <th class="siimple-table-cell">Single Model ARIMAX</th>
                                <th class="siimple-table-cell">Hybrid Model ARIMAX - SVR</th>
                            </thead>
                            <tbody class="siimple-table-body">
                                <tr class="siimple-table-row">
                                    <td class="siimple-table-cell" style="font-weight:bold;">75% Train & 25% Test</td>
                                    <td class="siimple-table-cell" id="rmse_arimax_30"></td>
                                    <td class="siimple-table-cell" id="rmse_hybrid_30"></td>
                                    <td class="siimple-table-cell" id="accuracy_arimax_30"></td>
                                    <td class="siimple-table-cell" id="accuracy_hybrid_30"></td>
                                </tr>
                                <tr class="siimple-table-row">
                                    <td class="siimple-table-cell" style="font-weight:bold;">85% Train & 15% Test</td>
                                    <td class="siimple-table-cell" id="rmse_arimax_20"></td>
                                    <td class="siimple-table-cell" id="rmse_hybrid_20"></td>
                                    <td class="siimple-table-cell" id="accuracy_arimax_20"></td>
                                    <td class="siimple-table-cell" id="accuracy_hybrid_20"></td>
                                </tr>
                                <tr class="siimple-table-row">
                                    <td class="siimple-table-cell" style="font-weight:bold;">90% Train & 10% Test</td>
                                    <td class="siimple-table-cell" id="rmse_arimax_10"></td>
                                    <td class="siimple-table-cell" id="rmse_hybrid_10"></td>
                                    <td class="siimple-table-cell" id="accuracy_arimax_10"></td>
                                    <td class="siimple-table-cell" id="accuracy_hybrid_10"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="siimple-grid-row">
                    
                        <div class="siimple-h6" style="text-align: center;">
                            Tabel Prediksi 12 Data ke Depan dengan Menggunakan Model Terbaik : Single Model ARIMAX
                        </div>
                        <div class="siimple-grid-col siimple-grid-col--5">
                        <table class="siimple-table siimple-table--striped siimple-table--border">
                            <thead class="siimple-table-header">
                                <th class="siimple-table-cell">Waktu</th>
                                <th class="siimple-table-cell">IHK</th>
                            </thead>                            
                            <tbody class="siimple-table-body">
                                <tr class="siimple-table-row">                                    
                                    <td class="siimple-table-cell" id="date_1"></td>
                                    <td class="siimple-table-cell" id="ihk_1"></td>                                 
                                </tr>
                                <tr class="siimple-table-row">
                                    <td class="siimple-table-cell" id="date_2"></td>
                                    <td class="siimple-table-cell" id="ihk_2"></td>
                                </tr>
                                <tr class="siimple-table-row">
                                    <td class="siimple-table-cell" id="date_3"></td>
                                    <td class="siimple-table-cell" id="ihk_3"></td>
                                </tr>
                                <tr class="siimple-table-row">
                                    <td class="siimple-table-cell" id="date_4"></td>
                                    <td class="siimple-table-cell" id="ihk_4"></td>
                                </tr>
                                <tr class="siimple-table-row">
                                    <td class="siimple-table-cell" id="date_5"></td>
                                    <td class="siimple-table-cell" id="ihk_5"></td>
                                </tr>
                                <tr class="siimple-table-row">
                                    <td class="siimple-table-cell" id="date_6"></td>
                                    <td class="siimple-table-cell" id="ihk_6"></td>
                                </tr>
                                <tr class="siimple-table-row">
                                    <td class="siimple-table-cell" id="date_7"></td>
                                    <td class="siimple-table-cell" id="ihk_7"></td>
                                </tr>
                                <tr class="siimple-table-row">
                                    <td class="siimple-table-cell" id="date_8"></td>
                                    <td class="siimple-table-cell" id="ihk_8"></td>
                                </tr>
                                <tr class="siimple-table-row">
                                    <td class="siimple-table-cell" id="date_9"></td>
                                    <td class="siimple-table-cell" id="ihk_9"></td>
                                </tr>
                                <tr class="siimple-table-row">
                                    <td class="siimple-table-cell" id="date_10"></td>
                                    <td class="siimple-table-cell" id="ihk_10"></td>
                                </tr>
                                <tr class="siimple-table-row">
                                    <td class="siimple-table-cell" id="date_11"></td>
                                    <td class="siimple-table-cell" id="ihk_11"></td>
                                </tr>
                                <tr class="siimple-table-row">
                                    <td class="siimple-table-cell" id="date_12"></td>
                                    <td class="siimple-table-cell" id="ihk_12"></td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>         
            </div>
        </div>
    </body>
</html>

